.cta {
	position: relative;
	text-align: center;

	.section-inner {
		padding: 32px;
	}

	.section-title {
		margin-bottom: 48px;
		color: white !important;
	}

	&::before {
		content: '';
		width: 100%;
		height: 50%;
		position: absolute;
		left: 0;
		bottom: 0;
		background: color(typography, 1);
	}
	

	&.contact {
		height: 280px;
		&::before {
			// height: 10%;
		}

		form {
			position: relative;
			margin: 0 auto;

			p {
				margin: 0 auto;
			}

			input, select {
				margin: 10px;
				max-width: calc(100% - 20px);
				font-size: 18px;
				border: 2px solid color(typography, 3);
				text-indent: 5px;
				width: calc(50% - 20px);
				border-radius: 0;
				height: 36px;
				background-color: white;
			}

			select {
				-webkit-appearance: none;
				-webkit-border-radius: 0px;
				&.placeholder {
					color: rgb(117, 117, 117);
				}
			}

			textarea {
				border: 2px solid color(typography, 3);
				text-indent: 5px;
				font-size: 18px;
				margin: 10px;
				width: calc(100% - 20px);
			}

			.button {
				top: 20px;
				display: block;
				max-width: calc(100% - 20px);
			}
		}

		.container {
			top: -60px;
			left: 0;
			right: 0;
			position: absolute;
			z-index: 10;
		}
	}
}

.cta-inner {
	position: relative;
	background: color(primary, 1);
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		right: 58px;
		bottom: calc(50% - 155px);
		width: 155px;
		height: 150px;
		background-image: url('../images/cta-illustration.svg');
		background-repeat: no-repeat;
	}

	> * {
		position: relative; /* To display elements above hero illustrations */
	}
}

@include media( '>medium') {

	.cta {
		text-align: left;

		.section-inner {
			padding: 64px 32px;
		}

		.section-title {
			margin-bottom: 0;
			padding-right: 24px;
		}

		&.contact {
			&::before {
				height: 20%;
			}
	
			form {
				input {
					width: auto;
				}
			}
			.container {
				top: -110px;
			}
		}
	}

	.cta-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&::before {
			bottom: calc(50% - 42px);
		}
	}
}
